*{
    margin: 0;
    padding: 0;
}

#size {
    width: 348px;
    height: 50px;
    background: #b8fbfb;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: -50px;
    position: absolute;
    opacity: 0;
}





.card {
    width: 348px;
    position: relative !important;
    height: 324px;
}

.card:hover #size{
    opacity: 0.8;
    transition: 0.5s;
}

#logo {
    width: 100px;
    height: 30px;
    margin-top: -20px;
}

#conte {
    margin-top: 50px;
    /* background: #c9c9c9; */
}

body {
    overflow-x: hidden;
}
#carou{
    margin-top: 30px;
}
#carou .row .col-md-12 #carousel-example-generic img {
    width: 100%;
    height: 500px;
}


#option{
    margin-top: 20px;
    color: #7b7b4e;
}
#option a{
    text-decoration: none;
    font-size: 28px;
}

#option ul{
    width: 100%;
    height: auto;
    margin: 10px;
    list-style-type: none;
}

#option li{
    list-style-type: none;
    text-align: center;
    float: left;
    width: 25%;
    height: auto;
    color: #ffb300;
    font-weight: bold;
}

#article{
    font-size: 80px;
}